<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Mercedes Brand
    </div>
    <div class="card-body ">
      <h5 class="card-title">Tu tienda de coches en España</h5>
      <youtube-player videoId="U_EsF2f--b4" suggestedQuality="highres" [height]="250" [width]="500" [startSeconds]=""
        [endSeconds]="">
      </youtube-player>
      <h4> Mercedes Alicante es el distribuidor de coches y anexos de automóviles de STANDOX en la zona de
        Alicante.</h4>
      <a class="button  button_size_2 button_theme button_js" href="https://www.mercedes-benz.es"><span
          class="button_label">Leer más</span></a>
    </div>
    <div class="card-footer text-muted">
      todos los derechos estan guardados!
    </div>
  </div>
</div>